/* Home */
.home{
  background-color: aliceblue;
  /* padding-left: 3em; */
  height: fit-content;
  padding-top: 4em;
  overflow-x: hidden
}
#cardsz{
  background-color: aliceblue;
  border-style: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para{
  /* padding-top: 4em; */
  font-size: 3em;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: #00008B;
  text-align: left;
  padding-left: 1em;
}
#women{
  padding-left: 6em;
}
#woman{
  height: 600px;
  width: 400px;
  padding-left: 2em;
}
#woman1{
  width: 400px !important;
  height: 550px;
  padding-top: 8em;
}


.flex-container {
  display: flex;
  align-items: flex-start;
} 
.image-container {
  display: flex;
  flex-direction: row-reverse;
}
#home-btn{
  background-color: #FFF000;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-left: 15%;
}


.body1, .body3{
background-color: aliceblue;
padding-bottom: 5em;
}
.body2{
background-color: white;
padding-bottom: 5em;
}
/* about images */
#parent-s{
height: 30em;
}

/* .testlog{
background-coflor: aliceblue;
} */
/* signup * */
.signup{
/* margin-top: 6em !important; */
/* height: 100vh; */
}


#booking{
  /* margin-top: 5em; */
  /* margin-bottom: 80em !important; */
}

/* footer */
#footer{
  background-color: white !important;
  padding-top: 3em;
}


/* responsiveness */
  /* !........................................................... */
  @media (max-width: 768px) {
    .para{
      font-size: 30px;
    }
    #woman{
      height: 400px;
      width: 300px;
      /* padding-left: 3em; */
    }
    #woman1{
      width: 100px !important;
      height: 430px;
      /* padding-left: 2em; */
      /* padding-top: 8em; */
      /* padding-right: 1em; */
    }
    #women{
      padding-left: 1.5em;
    }
    #home-btn{
      margin-left: 2em;
    }
  }
  

