#navbar{
    padding-top: 2em;
}
#navigation{
    /* padding-top: 3em; */
}


/* NavBar */
.nav, .nav-link, .nav-main, .nav2{
    justify-content: space-around;
    /* padding-left: 2em !important; */
    /* padding-right: 3em !important; */
  }
  .nav, .nav-link{
    color: #00008B !important;
    font-size: 22px;
  }
  .nav-main{
    color: #00008B !important;
    font-size: 24px !important;
    font-weight: bold;
  }
  .nav2, .login-text{
    color: #00008B !important;
    font-size: 18px;
  }
  #login-icon{
  height: 57px !important;
  background-color: transparent !important;
  /* font-size: 14px !important; */
  }
  
  /* ........................................................................ */
  
  .login-texts{
  
  color: #00008B;
  }
  
  /* ........................................................................ */
  